body {
    height: 100vh;
   background-color: #e1d8ce;
}

.homePage-contentContainer{
    max-width: 90%;
    width: 800px;
    margin: 20px auto;
}
.homePage-contentContainer > p{
    text-align: center;
    font-size: 18px;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
    background-color: #e1d8ce;
    height: 100vh;
}


@media (min-width: 400px){
    .homePageContainer{
        background-color: white;
    }
}

.homePage-authContainer{
    margin: 0 auto;
}

@media (min-width: 768px){
    .homePageContainer{
        flex-direction: row;
    }

    .enterImage {
        height: 85vh;
        margin: 1% auto;
    }

}

.enterImage {
    height: 85vh;
    margin: 7% auto;
}

